:root {
    --map-sz-w: 50vw;
    --map-margin:0 3vw 0 0;
    --chat-display: false;
}

[data-theme="active-chat"] {
    --map-sz-w: 70vw;
    --map-margin:0 auto;
    --chat-display: none;
}


@font-face {
    font-family: Overpass;
    src: url(../assets/Overpass-Light.ttf);
}

html, body {
    height: 100%; // fotter stick bot
}

body{
    display: flex; // fotter stick bot
    flex-direction: column; // fotter stick bot
    font-family: Overpass;
    max-width: 2000px;
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    flex: 1 0 auto; // fotter stick bot
}

.mapboxgl-canvas {
    border-radius: 1rem;
    border: none;
    width: 50vw;
}

#map{
    z-index: 0 !important;
}
.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right {
    opacity: 0.4;
}


.find{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: darkturquoise;
  }

.findbutton{
    text-align: center;
    margin: 1.5%;
}

#mapContainer {
    width: var(--map-sz-w); 
    height: 70vh;
    cursor: grab;
    margin:var(--map-margin);
}

header{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: 5vh 10vw;
}

.userimg{
    position: relative;
    height: 2.3rem;
    top: 5px;
}

.sea{
    margin: 0 auto;
    height: 60vh;
    width: 70vw;
    border: none;
    border-radius: 1.3rem;
}
::selection {
    background-color: #ffa228; /* WebKit/Blink Browsers */
    color: white;
}

.userBtn{
    border: none;
    background-color: #fcecec;
    border-radius: 500px;
    position: relative;
    width: fit-content;
    height: fit-content;
    top:10px;
    left:-10px;
    &:hover{
        cursor: pointer;
    }
    .userimg {
        position: relative;
        top:-10px;
        left:10px;
    }
}

#sendDiv{
    display: flex;
    
} 
#send{
    width: 50%;
    padding: 0.4rem 1rem;
    margin: 0 auto;
    border: none;
    background-color: rgb(255, 196, 196);
    color: rgb(248, 109, 109);
    font-weight: bold;
}

#vcBtn{
    width: 100%;
    padding: 0.4rem 1rem;
    margin: 1vh auto;
    border: none;
    background-color: rgb(255, 196, 196);
    color: rgb(248, 109, 109);
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90vw;
    margin: 0 auto;
}

footer{
    position: relative;
    padding: 5vh 0;
    margin: 0 6vw;
    flex-shrink: 0;
    background-color: #FCF9F9;
    border-radius: 12px;
}
  
.footertext{
    color: rgb(197, 131, 131);
    position: absolute;
    bottom: 1rem;
    right: 1.3rem;
}


.chatbox {
    margin: 0 0 0 0;
    height: 65vh;
    display: var(--chat-display);
    background-color: #F5F3F3;
    border-radius: 1rem;
}

// .chat-page {
//     padding: 0 0 50px 0;
//     padding-bottom: 0;
//     }
.msg-inbox {
    overflow: hidden;
    display: grid;
    grid-template-rows: 95fr 5fr;

}

#message{
    width: 100%;
    font-size: 1rem;
    border: 4px solid #fff3f3;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem;
    resize: none;
    overflow: auto;
    &::-webkit-scrollbar { width: 0 !important; display: none; }
    &:focus{
        outline: none;
        border: 4px solid #f8c8c8;
    }
    
}


.sendMessage{
    margin: 0 auto;
    width: 95%;
}
.chats {
    padding: 30px 15px 0 25px;
}

.chat-page, .msg-inbox{
    height: 100%;
}


// .msg-page {
//     height: 516px;
//     overflow-y: auto;
// }
// .received-msg {
//     display: inline-block;
//     padding: 0 0 0 10px;
//     vertical-align: top;
//     width: 92%;
// }
.received-msg-inbox {
    max-width: 35ch;
    width: fit-content;
}
.received-msg-inbox p {
    background: #40BAFF none repeat scroll 0 0;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
}
.them-chat, .you-chat {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 0.1rem 0 0.3rem 0;
    
}
.you-chat{
    text-align: right;
}

.outgoing-chats {
    overflow: hidden;
}
.outgoing-chats-msg p {
    background: #255977 none repeat scroll 0 0;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.outgoing-chats-msg {
    float: right;
    max-width: 35ch;

}
// .chat-input {
//     width: 100%;
//     height: 40px;
// }

// .sendMessage{
//     display: flex;
//     flex-direction: row;
// }