:root {
  --map-sz-w: 50vw;
  --map-margin:0 3vw 0 0;
  --chat-display: false;
}

[data-theme="active-chat"] {
  --map-sz-w: 70vw;
  --map-margin:0 auto;
  --chat-display: none;
}

@font-face {
  font-family: Overpass;
  src: url(../assets/Overpass-Light.ttf);
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Overpass;
  max-width: 2000px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.mapboxgl-canvas {
  border-radius: 1rem;
  border: none;
  width: 50vw;
}

#map {
  z-index: 0 !important;
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right {
  opacity: 0.4;
}

.find {
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: darkturquoise;
}

.findbutton {
  text-align: center;
  margin: 1.5%;
}

#mapContainer {
  width: var(--map-sz-w);
  height: 70vh;
  cursor: -webkit-grab;
  cursor: grab;
  margin: var(--map-margin);
}

header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5vh 10vw;
}

.userimg {
  position: relative;
  height: 2.3rem;
  top: 5px;
}

.sea {
  margin: 0 auto;
  height: 60vh;
  width: 70vw;
  border: none;
  border-radius: 1.3rem;
}

::-moz-selection {
  background-color: #ffa228;
  /* WebKit/Blink Browsers */
  color: white;
}

::selection {
  background-color: #ffa228;
  /* WebKit/Blink Browsers */
  color: white;
}

.userBtn {
  border: none;
  background-color: #fcecec;
  border-radius: 500px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 10px;
  left: -10px;
}

.userBtn:hover {
  cursor: pointer;
}

.userBtn .userimg {
  position: relative;
  top: -10px;
  left: 10px;
}

#sendDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#send {
  width: 50%;
  padding: 0.4rem 1rem;
  margin: 0 auto;
  border: none;
  background-color: #ffc4c4;
  color: #f86d6d;
  font-weight: bold;
}

#vcBtn {
  width: 100%;
  padding: 0.4rem 1rem;
  margin: 1vh auto;
  border: none;
  background-color: #ffc4c4;
  color: #f86d6d;
  font-weight: bold;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

footer {
  position: relative;
  padding: 5vh 0;
  margin: 0 6vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #FCF9F9;
  border-radius: 12px;
}

.footertext {
  color: #c58383;
  position: absolute;
  bottom: 1rem;
  right: 1.3rem;
}

.chatbox {
  margin: 0 0 0 0;
  height: 65vh;
  display: var(--chat-display);
  background-color: #F5F3F3;
  border-radius: 1rem;
}

.msg-inbox {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 95fr 5fr;
      grid-template-rows: 95fr 5fr;
}

#message {
  width: 100%;
  font-size: 1rem;
  border: 4px solid #fff3f3;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  resize: none;
  overflow: auto;
}

#message::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

#message:focus {
  outline: none;
  border: 4px solid #f8c8c8;
}

.sendMessage {
  margin: 0 auto;
  width: 95%;
}

.chats {
  padding: 30px 15px 0 25px;
}

.chat-page, .msg-inbox {
  height: 100%;
}

.received-msg-inbox {
  max-width: 35ch;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.received-msg-inbox p {
  background: #40BAFF none repeat scroll 0 0;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
}

.them-chat, .you-chat {
  color: #777;
  display: block;
  font-size: 12px;
  margin: 0.1rem 0 0.3rem 0;
}

.you-chat {
  text-align: right;
}

.outgoing-chats {
  overflow: hidden;
}

.outgoing-chats-msg p {
  background: #255977 none repeat scroll 0 0;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing-chats-msg {
  float: right;
  max-width: 35ch;
}
/*# sourceMappingURL=styles.css.map */