header{
    text-align: start;
    font-size: 30px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    font-family: Overpass;
}

.userimg{
    height: 80%;
}

body{
    margin: 0;
}

@font-face {
    font-family: Overpass;
    src: url(../assets/Overpass-Light.ttf);
}

.sea{
    margin-left: 10%;
    margin-right: 10%;
    height: 400px;
    width: 1000px;
    border-radius: 10px;
    background-color: rgb(218, 237, 251);
}

footer{
    margin: 5%;
    padding: 20px;
    text-align: end;
    background-color: rgb(252, 249, 249);
    border-radius: 12px;
}
  
.footertext{
    font-family: Overpass;
    color: rgb(197, 131, 131);
}