@font-face {
    font-family: Overpass;
    src: url(../assets/Overpass-Light.ttf);
}

html, body{
    height: 100%; // fotter stick bot
}

body{
    display: flex; // fotter stick bot
    flex-direction: column; // fotter stick bot
    font-family: Overpass;
    max-width: 2000px;
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    flex: 1 0 auto; // fotter stick bot
}

.find{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: darkturquoise;
  }

.findbutton{
    text-align: center;
    margin: 1.5%;
}

.map-container{
    width: 96%; 
    height: 100vh;
    cursor: grab;
    margin-left: 2%;
    margin-right: 2%;
}

header{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: 5vh 10vw;
}

.userimg{
    height: 2.8rem;
}

.sea{
    margin: 0 auto;
    height: 60vh;
    width: 70vw;
    border-radius: 10px;
    background-color: rgb(218, 237, 251);
}

footer{
    position: relative;
    padding: 5vh 0;
    margin: 0 6vw;
    flex-shrink: 0;
    background-color: #FCF9F9;
    border-radius: 12px;
}
  
.footertext{
    color: rgb(197, 131, 131);
    position: absolute;
    bottom: 1rem;
    right: 1.3rem;
}

.chat-page {
    padding: 0 0 50px 0;
    padding-bottom: 0;
    }
.msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 30px;
}
.chats {
    padding: 30px 15px 0 25px;
}
.msg-page {
    height: 516px;
    overflow-y: auto;
}
.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received-msg-inbox {
    width: 57%;
}
.received-msg-inbox p {
    background: #40BAFF none repeat scroll 0 0;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}
.outgoing-chats-msg p {
    background: #255977 none repeat scroll 0 0;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.outgoing-chats-msg {
    float: left;
    width: 46%;
    margin-left: 45%;
}
.chat-input {
    width: 100%;
    height: 40px;
}

.sendMessage{
    display: flex;
    flex-direction: row;
}